@import "tailwindcss";
/* npx @tailwindcss/cli -i ./src/styles/input.css -o ./src/styles/output.css --watch */

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: archivo;
  src: url(../fonts/Archivo.ttf);
}

@layer utilities {
  .archivo {
    font-family: archivo;
  }
  .anim {
    animation: anim 15s linear alternate-reverse infinite;
  }
  .animlg {
    animation: animlg 15s linear alternate-reverse infinite;
  }
}

@keyframes anim {
  0% {
    right: 100%;
  }
  100% {
    right: -100%;
  }
}
